@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="#" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>E-Egitim</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="/Default/Index/" class="nav-item nav-link @(controllerName == "Default" ? "active" : "")">Ana Sayfa</a>
                <a href="/About/Index/" class="nav-item nav-link @(controllerName == "About" ? "active" : "")">Hakkımızda</a>
                <a href="/Course/Index/" class="nav-item nav-link @(controllerName == "Course" ? "active" : "")">Kurslar</a>
                <a href="/Contact/Index/" class="nav-item nav-link @(controllerName == "Contact" ? "active" : "")">İletisim</a>
                <a href="#" class="nav-item nav-link @(controllerName == "About" ? "active" : "")">Ögrenim İçeriğim</a>
                <!--
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
        <div class="dropdown-menu m-0">
            <a href="#" class="dropdown-item">Course Detail</a>
            <a href="#" class="dropdown-item">Our Features</a>
            <a href="#" class="dropdown-item">Instructors</a>
            <a href="#" class="dropdown-item">Testimonial</a>
        </div>
    </div>
    -->
            </div>
           
            <a href="/Login/Index/" class="mx-1 btn btn-primary py-2 px-4 d-none d-lg-block">Bize Katılın</a>
            <a href="#" class="btn btn-primary py-2 px-4 d-none d-lg-block">Egitmen Ol</a>
      
        </div>
    </nav>
</div>
<!-- Navbar End -->