@model List<ListCourseVideoDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h1>Course Videos</h1>
    <div class="table-responsive">
        <table id="videoTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Dosya Adı</th>
                    <th>Dosya Yolu</th>
                    <th>Dosya Görünen İsmi</th>
                    <th>Kurs ID</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Status</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var video in Model)
                {
                    <tr>
                        <td>@video.id</td>
                        <td>@video.fileName</td>
                        <td>@video.filePath</td>
                        <td>@video.fileDisplayName</td>
                        <td>@video.courseID</td>
                        <td>@video.createdDate.ToString("dd-MMM-yyyy")</td>
                        <td>@(video.status ? "Active" : "Inactive")</td>
                        <td><a href="/Admin/CourseVideoFile/DeleteCourseVideo/@video.id?courseId=@video.courseID" class="btn btn-danger">Sil</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

