@model List<ListCourseDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section DashboardSection {
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Toplam Egitim</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-success">@ViewBag.CourseCount</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Toplam Satılan Egitim</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash2">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto"><span class="counter text-purple">@ViewBag.PurchasedCourseCount</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Toplam Kurs Görüntülenme</h3>
                <ul class="list-inline two-part d-flex align-items-center mb-0">
                    <li>
                        <div id="sparklinedash3">
                            <canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                        </div>
                    </li>
                    <li class="ms-auto">
                        <span class="counter text-info">@ViewBag.TotalViewCount</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}

<div>
    <div class="d-md-flex mb-3">
        <h3 class="box-title mb-0">Çok Görüntülenene Eğitimler</h3>
        <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
            <select class="form-select shadow-none row border-top">
                <option>March 2021</option>
                <option>April 2021</option>
                <option>May 2021</option>
                <option>June 2021</option>
                <option>July 2021</option>
            </select>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table no-wrap">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Kurs Adı</th>
                    <th>Kurs Resmi</th>
                    <th>Kurs Görüntülenme</th>
                    <th>Kurs Fiyatı</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td><img src="@item.ImageUrl" style="width:75px;height:75px" /></td>
                        <td>@item.CourseViewCountLog</td>
                        <td>@item.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section DashboardSection2 {
    @await Component.InvokeAsync("_Top5PurchasedCourse");
}


