@model OnlineEgitimClient.Service.PaginatedList<ListCourseDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<a asp-action="Index" asp-route-searchString="@ViewBag.CurrentFilter" asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-pageSize="@Model.PageSize">Sonraki</a>*@

<!-- Search İnput -->
<br />
<br />
<form method="get" asp-controller="Course" asp-action="Index" id="searchForm">
    <div class="d-flex justify-content-center">
        <div class="input-group w-50">
            <!--
            <div class="input-group-prepend">
                <button class="btn btn-outline-light bg-white text-body px-4 dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Kategoriler
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Tümü</a>
                    <a class="dropdown-item" href="#">Bilişim</a>
                    <a class="dropdown-item" href="#">Yazılım</a>
                </div>
            </div>
            -->
            <input type="text" class="form-control" style="padding: 30px 25px;" placeholder="Kurs ara..." name="searchString" id="searchInput" value="@ViewBag.CurrentFilter">
            <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
            <input type="hidden" name="pageSize" value="@Model.PageSize" />
            <div class="input-group-append">
                <button class="btn btn-secondary px-4 px-lg-5">Ara</button>
            </div>
        </div>
    </div>
</form>


<!-- Courses Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row mx-0 justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center position-relative mb-5">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Kurslarımız</h6>
                    <h1 class="display-4">Kurslarımıza Göz Atın</h1>
                </div>
            </div>
        </div>
        <div class="row">

            @foreach (var item in Model.Items)
            {
                <div class="col-lg-4 col-md-6 pb-4">
                    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="/Course/CourseDetails/@item.Id">
                        <img class="img-fluid" src="@item.ImageUrl" alt="">
                        <div class="courses-text">
                            <h4 class="text-center text-white px-3">
                                @item.Title
                            </h4>
                            <div class="border-top w-100 mt-3">
                                <div class="d-flex justify-content-between p-3">
                                    <span class="text-white" style="font-size: small">@item.Level.ToLower() seviye</span>
                                    <span class="text-white" style="font-size: small"><i class="fa fa-eye mr-1"></i>@item.CourseViewCountLog</span>
                                </div>
                                <div class="d-flex justify-content-between p-3">
                                    <span class="text-white" style="font-size: small">Dil: @item.Language.ToUpper() </span>
                                    <span class="text-white" style="font-size: small">Fiyat: @item.Price₺</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <form method="get" asp-controller="Basket" asp-action="AddToCourse">
                        <input type="hidden" name="courseId" value="@item.Id" />
                        <input type="submit" value="Sepete Ekle" class="btn btn-success" />
                    </form>
                    @*<a class="btn btn-success" href="7Basket/AddToCourse/@item.Id">Sepete Ekle</a>*@
                </div>
            }

            <!-- Pagination -->
            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg justify-content-center mb-0">
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link rounded-0" href="@Url.Action("Index", new { searchString = ViewBag.CurrentFilter, pageNumber = Model.PageNumber - 1, pageSize = Model.PageSize })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }

                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Index", new { searchString = ViewBag.CurrentFilter, pageNumber = i, pageSize = Model.PageSize })">@i</a>
                            </li>
                        }

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link rounded-0" href="@Url.Action("Index", new { searchString = ViewBag.CurrentFilter, pageNumber = Model.PageNumber + 1, pageSize = Model.PageSize })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
            <!-- Pagination -->
        </div>
    </div>
</div>
<!-- Courses End -->
