@model List<ListCourseDto>

@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kurs Resimi</th>
            <th>Kurs Başlık</th>
            <th>Kurs Fiyat</th>
            <th>Güncelleme</th>
            <th>Durumu</th>
            <th>Sil</th>
            <th>Detaylar</th>
            <th>Güncelle</th>
            <th>Videolar</th>
            <th>Video Yükle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    <img class="img-fluid" src="@item.ImageUrl" alt="" style="max-width: 50px; max-height: 50px;">
                </td>
                <td>@item.Title</td>
                <td>@item.Price</td>
                <td>@(((DateTime)item.UpdatedDate).ToString("dd-MMM-yyyy"))</td>
                <td>@item.Status</td>
                <td><a href="/Admin/Course/DeleteCourse/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
                <td><a href="/Course/CourseDetails/@item.Id" class="btn mb-1 btn-rounded btn-outline-primary">Detaylar</a></td>
                <td><a href="/Admin/Course/UpdateCourse/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
                <td><a href="/Admin/CourseVideoFile/Index/@item.Id" class="btn mb-1 btn-rounded btn-outline-warning">Videolar</a></td>
                <td><a href="/Admin/CourseVideoFile/CourseUploadVideo/@item.Id" class="btn mb-1 btn-rounded btn-outline-primary">V.Yükle</a></td>
            </tr>
        }
    </table>
</div>
<br />
<a href="/Admin/Course/AddCourse/" class="btn mb-1 btn-rounded btn-outline-primary">Yeni Kurs Oluştur</a>

