@model List<ListLocationDto>
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Lokasyon Bilgisi</th>
            <th>Oluşturulma tarihi</th>
            <th>Güncellenme Tarihi</th>
            <th>Durumu</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Address</td>
                <td>@item.CreatedDate</td>
                <td>@item.UpdatedDate</td>
                <td>@item.Status</td>
                <td><a href="/Location/DeleteLocation/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
                <td><a href="/Location/UpdateLocation/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
                <td><a href="#" class="btn mb-1 btn-rounded btn-outline-warning">Detaylar</a></td>
            </tr>
        }
    </table>
</div>
<br />
<a href="/Location/AddLocation/" class="btn mb-1 btn-rounded btn-outline-primary">Yeni Lokasyon Oluştur</a>

