@model List<ListCourseDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

@if (Model != null && Model.Any())
{
    <div class="container">
        <h1 class="text-center font-weight-medium text-primary text-uppercase my-5">Sepetim</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Resim</th>
                        <th>Başlık</th>
                        <th>Fiyatı</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th>@count</th>
                            <td><img src="~/online-education/img/courses-3.jpg" class="img-fluid" style="max-width:100px;max-height:100px" /></td>
                            <td>@item.Title</td>
                            <td>@item.Price</td>
                            <td><a class="btn btn-danger" href="/Basket/DeleteToCourse/@item.Id">Sil</a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">@ViewBag.totalCourse Adet Ürün</td>
                        <td><strong class="h5">Toplam: @ViewBag.totalPrice</strong></td>
                    </tr>
                </tfoot>
            </table>
            <div class="text-right">
                <button type="button" class="btn btn-primary btn-lg">Satın Al</button>
            </div>
            <div class="text-left">
                <a href="/Basket/RemoveToCourse/" class="btn btn-danger btn-lg">Sepeti Boşalt</a>
            </div>
        </div>
    </div>
}
else
{
    <h1 class="text-center justify-content-center align-items-center">Sepetinizde ürün bulunmamaktadır.</h1>
}




